<div class="form-container">
    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class="employee-form-container">

        <!-- Name form -->
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" required>
            @if (employeeForm.get('name')?.hasError('required')) {
                <mat-error> Name is required </mat-error>
            }
        </mat-form-field>

        <!-- Position form -->
        <mat-form-field appearance="fill">
            <mat-label>Position</mat-label>
            <input matInput formControlName="position" required>
            @if (employeeForm.get('position')?.hasError('required')) {
                <mat-error> Position is required </mat-error>
            }
        </mat-form-field>

        <!-- Department form -->
        <mat-form-field appearance="fill">
            <mat-label>Department</mat-label>
            <mat-select formControlName="department" required>
                <!-- TODO ng-->
                <mat-option *ngFor="let dept of departments" [value]="dept">
                    {{dept}}
                </mat-option>
            </mat-select>
            @if (employeeForm.get('department')?.hasError('required')) {
                <mat-error> Department is required </mat-error>
            }
        </mat-form-field>

        <!-- E-mail form -->
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email" required>
            @if (employeeForm.get('email')?.hasError('required')) {
                <mat-error> Email is required  </mat-error>
            }
            @if (employeeForm.get('email')?.hasError('email')) {
                <mat-error> Please enter a valid email </mat-error>
            }
        </mat-form-field>

        <!-- Phone form -->
        <mat-form-field appearance="fill">
            <mat-label>Phone</mat-label>
            <input matInput formControlName="phone" required>
            @if (employeeForm.get('phone')?.hasError('required')) {
                <mat-error> Phone is required </mat-error>
            }
        </mat-form-field>

        <!-- Status form -->
        <mat-form-field appearance="fill">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status" required>
                <!-- TODO ng-->
                <mat-option *ngFor="let status of statuses" [value]="status">
                    {{status}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <!-- HireDate form -->
        <mat-form-field appearance="fill">
            <mat-label>Hire Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="hireDate" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <!-- Button -->
        <div class="form-actions">
            <button mat-raised-button color="primary" type="submit">
                {{employee ? 'Update' : 'Add'}} Employee
            </button>
            <button mat-raised-button type="button" (click)="router.navigate(['/'])">
                Cancel
            </button>
        </div>
    </form>
</div>
